# Output directories
*/obj/*
*/dep/*
*/bin/*
*/doc/doxygen/*
/kernel/dep/*
/img/*
/disk/boot/boot/*.elf

# Local makefile settings
Makefile.local

# Local backup and swap files
*~*
*.swp
*.swo

# Vim ctags
tags
